.Python
settings.ini
env
bin
lib
tmp
db.sqlite3
*.log
*.pot
*.pyc
*.py~
*.csv
dgis/node_modules
dgis/reports
dgis/media
collected_static
debug_toolbar
ckeditor
conf/nginx_common.conf
conf/nginx.conf
conf/uwsgi.ini
__pycache__

